body {
  background: #e6dcd8;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0;
  }

.text{
    display: inline-block;
}

.bold{
  font-weight: bold;
}

.checkout_text {
  margin-top: 0;
}

.checkout_text,
.product_image{
  border-top: solid;
  border-width: 1px;
  border-color: white;
  padding: 20px;
}

.product_image {
  min-width: 300px;
  height: auto;
}

.checkout_summary{
  background-color: grey;
  margin-top: 0px;  
}


.margin_top{
  margin-top: 0;
  padding: 0px;

}

table{
  table-layout: auto;
  width: 100%;
}

.center{
  border-top: solid;
  border-width: 1px;
  border-color: white;
}

.top {
  border-top: solid;
  border-width: 1px;
  border-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 599px) {
  .checkout {
    grid-template-columns: 1fr;
  }
}