body {
  background: #e6dcd8;
}

h1 {
  text-align: center;
  color: #0a3641;
  padding: 20px;
}

.checkout {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.8fr;
  margin-top: 0;
}

.text {
  display: inline-block;
  margin: 0 15px;
}

.bold {
  font-weight: bold;
}

.checkout_text,
.product_image {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  font-size: 1.5em;
  margin-top: 0;
  padding: 20px 0;
}

.product_image {
  min-width: 250px;
  height: auto;
  padding: 20px 0;
}

.checkout_summary {
  background-color: #c3c1c0;
  color: #0a3641;
  margin-top: 0px;
  font-size: 1.5em;
  margin: 0 0 0 20px;
  border-radius: 5px;
}

table {
  table-layout: auto;
  max-width: 100%;
}

td,
.bold,
.normal,
.main {
  vertical-align: top;
}

td {
  vertical-align: middle;
}

.right {
  text-align: right;
}

.main {
  padding-top: 20px;
}

.center {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  vertical-align: middle;
}

.top {
  border-top: solid;
  border-width: 1px;
  border-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1260px) {
  .checkout {
    grid-template-columns: 1fr;
  }
  .checkout_summary {
    margin: 0;
    margin-bottom: 20px;
  }
  .main {
    vertical-align: middle;
    padding-top: 0;
  }
}
