.details {
    margin: 0 auto;
    background-color: rgb(243, 201, 201);
    padding: 20px;
    border-radius: 2%;
    
  }

.details img{
    max-width: 500px;
    max-height: 500px;
}

body {
  background: #e6dcd8;
}

.welcome{
  margin: 0 auto;
  float: none;
}

h1 {
  text-align: center;
}