body {
  background-color: #e6dcd8;
}

header {
  background-color: white;
  margin: -9px -9px 20px -9px;
}

.fall_jacket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  padding: 20px;
  color: #0a3641;
}

h2 {
  margin-top: 0;
}

.size_text {
  word-spacing: 55px;
}

.product {
  flex: 2;
}

.image {
  flex: 3;
  max-width: 900px;
}

.add-to-cart {
  position: relative;
  top: 30px;
}

@media only screen and (min-width: 950px) {
  .fall_jacket {
    flex-direction: row;
  }
}

@media only screen and (max-width: 599px) {
  .add-to-cart {
    top: 0px;
  }
}
