body {
  background: #e6dcd8;
}

h1 {
  text-align: center;
  color: #0a3641;
  padding: 20px;
}

.jackets {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 0 60px 60px 60px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.products {
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 599px) {
  .product-list {
    margin-bottom: 30px;
  }
}
