h1 {
    text-align: center;
}

.jackets {
    background: #e6dcd8;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}

img {
    max-width: 100%;  
    height: auto; 
}