

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .product {
    margin: 20px 50px;
    padding: 20px;
    border-radius: 2%;
    background-color: rgb(243, 201, 201);
    flex-flow: row;
  }
  
  .product img {
    max-width: 50vh;

  }

  body {
    background: #e6dcd8;
  }
  
  .welcome{
    margin: 0 auto;
    float: none;
  }

  h1 {
    text-align: center;
  }