body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  height: 90px;
  float: left;
  position: relative;
  top: 20px;
}

nav {
  padding: 40px 40px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #707070;
  margin-bottom: 20px;
}

nav li {
  display: inline-block;
  position: relative;
  left: 30px;
}

nav a {
  font-weight: lighter;
  text-decoration: none;
  padding: 5px;
  color: black;
}

.flex_nav {
  display: flex;
  padding-left: 0;
}

/* links */

.active {
  background-color: #c5532c;
  color: #fff;
  padding: 0px;
  font-weight: bold;
  border-radius: 2.5px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/* Homepage */
h1 {
  background: -webkit-radial-gradient(#00bfa0, #762911);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

h2 {
  color: #0a3641;
}

.cta-browseitems {
  background-color: #00bfa0;
  color: #fff;
  padding: 5px 5px;
  border-radius: 10px;
  text-align: center;
}

.welcome {
  background-image: url("../images/Background_fall_blur_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  min-height: 70vh;
}

.welcome__content {
  float: right;
  position: relative;
  margin: 0px 50px 0px 0px;
  font-size: 1.5em;
}

.quote {
  position: relative;
  bottom: 130px;
  float: right;
  padding: 5px;
  margin-right: 15px;
  font-size: 1.2em;
  color: #0a3641;
  background-color: #eee;
}

.bottom {
  font-weight: bold;
}

.bottom_source {
  font-style: italic;
  font-weight: normal;
}

@media only screen and (max-width: 599px) {
  .flex_nav {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .quote {
    background-color: transparent;
    bottom: 90px;
  }
}
